/* Estilos adicionais para melhorar a responsividade */
@media (max-width: 776px) {
    .custom-card {
        width: 40%; /* Reduz a largura do card em telas pequenas */
         /* Centraliza o card */
    }

    .card-title {
        font-size: 1.25rem; /* Ajusta o tamanho da fonte do título */
    }

    .btn {
        font-size: 0.9rem; /* Ajusta o tamanho dos botões */
    }
}